{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>화장 비빔밥</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/App.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script>
        $('#event').submit(function(e){
            e.preventDefault();
            url = $(this).attr('action') # to get url
            data = $(this).serialize(); # for sending form data
            $.post(url, data, function(response){
                # do whatever you want with response(data)
                    })
        })
    </script>

</head>
<body>
<form method="post" enctype="multipart/form-data" id="event" >
  {% csrf_token %}
     <div class="sectionwrapper">
        <div class="column">
            <div class="top">
                <p>화장 전</p>
            </div>
            <div class="bottom">
                <p>
                    <label for="file">
                        <img src = "{% static "img/button_img.png" %}" id="output" style="width:100%  border-style: inherit;" onclick="$('file').click();" />
                        <input type="file" name="source_image" id="file"  onchange="loadFile(event)"  accept="image/*" style="display:none" />
                    </label>
                </p>
            </div>
        </div>
        <div class="column">
            <div class="top">
                <p>원하는 화장</p>
            </div>
            <div class="bottom">
                <p>
                    <label for="file2">
                        <img src = "{% static "img/button_img.png" %}" id="output2" style="width:100%  border-style: inherit;" onclick="$('file2').click();" />
                        <input type="file" name="reference_image" id="file2"  onchange="loadFile2(event)"  accept="image/*" style="display:none" />
                    </label>
                </p>
            </div>
        </div>
    </div>
    <button class="two2three_button" type="submit" >
        <p class="text2_3">결과보기</p>
    </button>
</form>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
var loadFile2 = function(event) {
	var image = document.getElementById('output2');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>


{% if img_obj %}
    <div class="sectionwrapper">
        <div class="column">
            <div class="top">
                <p>화장 후</p>
            </div>
            <div class="bottom">
                <input type="image" src="{{ img_result }}"  class="column1_button" style="max-height:450px" accept="image/*" />
            </div>
        </div>
    </div>
{% endif %}

</body>

